.areas-bg {
    background-color: var(--cor-2);
}

.areas {
    display: grid;
    justify-items: center;
}

.areas h2 {
    font-size: 2rem;
    padding-top: 50px;
    padding-bottom: 50px;
}

.areas-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.areas-lista img {
    width: 22rem;
    height: 14rem;
    filter: brightness(50%);
}

.areas-lista p {
    text-align: center;
    font-size: 1rem;
}

/*
.areas-boxes li {
    display: block;
    position: relative;
}

.areas-boxes li img {
    width: 22rem;
    height: 14rem;
    filter: brightness(50%);
}

.areas-boxes p {
    position: absolute;
    word-wrap: break-word;
    width: max-content;
    text-align: center;
    top: 50%;
    bottom: 50%;
    left: 30%;
    right: 30%;
    color: white;
}

.break {
    max-width: fit-content;
}
*/