.areas-bg {
    background-color: var(--cor-2);
}

.areas {
    display: grid;
    justify-items: center;
}

.areas h2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.areas-boxes ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.areas-boxes li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}