.introducao-bg {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url(../img/introducao/fundointroducao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
}

.introducao {
    display: grid;
    grid-template-columns: 0.7fr;
    gap: 40px;
}

.introducao-conteudo {
    display: grid;
    align-self: end;
    margin-top: 150px;
    margin-left: 40px;
}

.introducao-botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 150px;
    margin-left: 40px;
}

