/* HEADER */
@import "./global/global.css";
@import "./global/header.css";

/* UTILIDADES */
@import "./utilidades/cores.css";
@import "./utilidades/tipografias.css";
@import "./utilidades/componentes.css";

/* Home */
@import "./introducao.css";
@import "./areas.css";


.container {
    box-sizing: border-box;
    max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }