
:root {
    --cor-1: #1D1E1F;
    --cor-2: #ECD087;
    --cor-3: #353544;
    --cor-4: #948F5E;
    --cor-c1: #FFFFFF;
    --cor-c2: #B0AFAE;

  }
  
  .cor-1 {
    color: var(--cor-1);
  }
  
  .cor-2 {
    color: var(--cor-2);
  }
  
  .cor-3 {
    color: var(--cor-3);
  }
  
  .cor-4 {
    color: var(--cor-4);
  }

.cor-c1 {
  color: var(--cor-c1);
}

.cor-c2 {
  color: var(--cor-c2);
}
