.footer-bg {
    background-color: var(--cor-3);
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-logo {
    width: 250px;
    align-self: center;
}

.footer-logo a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    gap: 10px;
    color: var(--cor-c1);
}

.footer-logo img {
    max-width: 70px;
    max-height: 62px;
    width: auto;
    height: auto;
    border-radius: 4px;
}

.footer-areas {
    display: grid;
    gap: 10px;
}

.footer-areas h2 {
    justify-self: center;
    color: white;
}

.footer-areas ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--cor-c2);
}

.footer-contato {
    display: grid;
}

.footer-contato h2 {
    justify-self: center;
    color: white;
}

.footer-contato ul {
    color: var(--cor-c2);
    
}