.header-bg {
    background-color: var(--cor-3);
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}


.header-logo {
    width: 250px;
}

.header-logo a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    gap: 10px;
    color: var(--cor-c1);
}

.header-logo img {
    max-width: 70px;
    max-height: 62px;
    width: auto;
    height: auto;
    border-radius: 4px;
}


.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;  
    color: white;
}

.header-menu a {
    display: inline-block;
    padding: 10px 0px;
    position: relative;
}

.header-menu a:hover {
    color: var(--cor-2);
}

.header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: var(--cor-2);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
  }

  .header-menu a:hover::after {
    width: 100%;
  }

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }
    .header-menu a {
        padding: 5px 0px;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 10px;
    }
    .header-menu a {
        font-size: 0.75rem;
    }
    .header-menu a:after {
        display: none;
    }
}